*.hi
*.o
*.swp
/.hpc/
/debug.log
/hareview/.vagrant
/hspec-failures
/old/editors/LocalSettings.hs
/old/refactorer/B.hs.refactored
/old/refactorer/Paths_HaRe.hs
/old/refactorer/evaluate_result
/old/testing/addCon/Case1.hs.temp.hs
/old/testing/addCon/Case2.hs.temp.hs
/old/testing/evalAddEvalMon/UTestCache
/old/testing/introThreshold/UTestCache
/refactorer/B.hs.refactored
/spec.tix
/src/Ole.hs.AST_out
/src/Ole.hs.refactored
/src/Ole.hs.renamed_out
/src/Ole.hs.tokens
/src/Ole.hs.tokens1
/src/ZipperLensGist.hs
/src/ZipperPlayRose.hs
/src/strafunski.hs
/test/debug.log
/test/testdata/Case/B.hs.AST_out
/test/testdata/Case/B.hs.refactored
/test/testdata/Case/B.hs.renamed_out
/test/testdata/Case/B.hs.tokens
/test/testdata/Demote/#D1.hs.tokens#
/test/testdata/Demote/CaseIn1.hs.AST_out
/test/testdata/Demote/CaseIn1.hs.refactored
/test/testdata/Demote/CaseIn1.hs.renamed_out
/test/testdata/Demote/CaseIn1.hs.tokens
/test/testdata/Demote/D1.hs.AST_out
/test/testdata/Demote/D1.hs.refactored
/test/testdata/Demote/D1.hs.renamed_out
/test/testdata/Demote/D1.hs.tokens
/test/testdata/Demote/D2.hs.AST_out
/test/testdata/Demote/D2.hs.expected.1
/test/testdata/Demote/D2.hs.refactored
/test/testdata/Demote/D2.hs.renamed_out
/test/testdata/Demote/D2.hs.tokens
/test/testdata/Demote/LetIn1.hs.AST_out
/test/testdata/Demote/LetIn1.hs.refactored
/test/testdata/Demote/LetIn1.hs.renamed_out
/test/testdata/Demote/LetIn1.hs.tokens
/test/testdata/Demote/PatBindIn1.hs.AST_out
/test/testdata/Demote/PatBindIn1.hs.refactored
/test/testdata/Demote/PatBindIn1.hs.renamed_out
/test/testdata/Demote/PatBindIn1.hs.tokens
/test/testdata/Demote/PatBindIn4.hs.refactored
/test/testdata/Demote/PatBindIn4.hs.tokens
/test/testdata/Demote/WhereIn1.hs.AST_out
/test/testdata/Demote/WhereIn1.hs.refactored
/test/testdata/Demote/WhereIn1.hs.renamed_out
/test/testdata/Demote/WhereIn1.hs.tokens
/test/testdata/Demote/WhereIn2.hs.AST_out
/test/testdata/Demote/WhereIn2.hs.refactored
/test/testdata/Demote/WhereIn2.hs.renamed_out
/test/testdata/Demote/WhereIn2.hs.tokens
/test/testdata/Demote/WhereIn3.hs.AST_out
/test/testdata/Demote/WhereIn3.hs.refactored
/test/testdata/Demote/WhereIn3.hs.renamed_out
/test/testdata/Demote/WhereIn3.hs.tokens
/test/testdata/Demote/WhereIn4.hs.AST_out
/test/testdata/Demote/WhereIn4.hs.refactored
/test/testdata/Demote/WhereIn4.hs.renamed_out
/test/testdata/Demote/WhereIn4.hs.tokens
/test/testdata/Demote/WhereIn5.hs.AST_out
/test/testdata/Demote/WhereIn5.hs.refactored
/test/testdata/Demote/WhereIn5.hs.renamed_out
/test/testdata/Demote/WhereIn5.hs.tokens
/test/testdata/Demote/WhereIn6.hs.AST_out
/test/testdata/Demote/WhereIn6.hs.refactored
/test/testdata/Demote/WhereIn6.hs.renamed_out
/test/testdata/Demote/WhereIn6.hs.tokens
/test/testdata/Demote/WhereIn7.hs.AST_out
/test/testdata/Demote/WhereIn7.hs.refactored
/test/testdata/Demote/WhereIn7.hs.renamed_out
/test/testdata/Demote/WhereIn7.hs.tokens
/test/testdata/DupDef/Dd1.hs.AST_out
/test/testdata/DupDef/Dd1.hs.refactored
/test/testdata/DupDef/Dd1.hs.renamed_out
/test/testdata/DupDef/Dd1.hs.tokens
/test/testdata/DupDef/Dd2.hs.AST_out
/test/testdata/DupDef/Dd2.hs.refactored
/test/testdata/DupDef/Dd2.hs.renamed_out
/test/testdata/DupDef/Dd2.hs.tokens
/test/testdata/LiftToToplevel/C1.hs.AST_out
/test/testdata/LiftToToplevel/C1.hs.refactored
/test/testdata/LiftToToplevel/C1.hs.renamed_out
/test/testdata/LiftToToplevel/C1.hs.tokens
/test/testdata/LiftToToplevel/C2.hs.AST_out
/test/testdata/LiftToToplevel/C2.hs.refactored
/test/testdata/LiftToToplevel/C2.hs.renamed_out
/test/testdata/LiftToToplevel/C2.hs.tokens
/test/testdata/LiftToToplevel/D1.hs.AST_out
/test/testdata/LiftToToplevel/D1.hs.refactored
/test/testdata/LiftToToplevel/D1.hs.renamed_out
/test/testdata/LiftToToplevel/D1.hs.tokens
/test/testdata/LiftToToplevel/D2.hs.AST_out
/test/testdata/LiftToToplevel/D2.hs.refactored
/test/testdata/LiftToToplevel/D2.hs.renamed_out
/test/testdata/LiftToToplevel/D2.hs.tokens
/test/testdata/LiftToToplevel/D3.hs.AST_out
/test/testdata/LiftToToplevel/D3.hs.refactored
/test/testdata/LiftToToplevel/D3.hs.renamed_out
/test/testdata/LiftToToplevel/D3.hs.tokens
/test/testdata/LiftToToplevel/WhereIn1.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn1.hs.refactored
/test/testdata/LiftToToplevel/WhereIn1.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn1.hs.tokens
/test/testdata/M
/test/testdata/MoveDef/Demote.hs.AST_out
/test/testdata/MoveDef/Demote.hs.refactored
/test/testdata/MoveDef/Demote.hs.renamed_out
/test/testdata/MoveDef/Demote.hs.tokens
/test/testdata/MoveDef/Md1.hs.AST_out
/test/testdata/MoveDef/Md1.hs.orig
/test/testdata/MoveDef/Md1.hs.refactored
/test/testdata/MoveDef/Md1.hs.renamed_out
/test/testdata/MoveDef/Md1.hs.tokens
/test/testdata/NoMod
/test/testdata/SwapArgs/B.hs.AST_out
/test/testdata/SwapArgs/B.hs.refactored
/test/testdata/SwapArgs/B.hs.renamed_out
/test/testdata/SwapArgs/B.hs.tokens
/testing/evalAddEvalMon/UTestCache
/testing/introThreshold/UTestCache
dist/
editors/Emacs/haskell-refac.el
editors/Emacs/haskell-refac.el2
editors/GenEditorInterfaces
editors/LocalSettings.hs
editors/LocalSettings.hs:
editors/Vim/refactor.vim
log.txt
refactorer/PfeRefactoringCmds.hs
refactorer/evaluate
refactorer/evaluate_result
refactorer/pfe
refactorer/pfe_client
testing/*/hi
testing/UTest
testing/addCon/Case1.hs.temp.hs
testing/addCon/Case2.hs.temp.hs
/test/testdata/LiftToToplevel/WhereIn6.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn6.hs.refactored
/test/testdata/LiftToToplevel/WhereIn6.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn6.hs.tokens
/test/testdata/LiftToToplevel/WhereIn7.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn7.hs.refactored
/test/testdata/LiftToToplevel/WhereIn7.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn7.hs.tokens
