*.hi
*.o
dist/
log.txt

editors/GenEditorInterfaces
editors/Vim/refactor.vim
editors/Emacs/haskell-refac.el
editors/LocalSettings.hs:
editors/Emacs/haskell-refac.el2
editors/LocalSettings.hs

refactorer/evaluate
refactorer/evaluate_result
refactorer/pfe
refactorer/pfe_client
refactorer/PfeRefactoringCmds.hs

testing/addCon/Case1.hs.temp.hs
testing/addCon/Case2.hs.temp.hs
testing/UTest
testing/*/hi
/testing/evalAddEvalMon/UTestCache
/testing/introThreshold/UTestCache
/refactorer/B.hs.refactored
